In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data\cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yumen,CN,2022-10-19 23:31:21,40.2833,97.2000,40.15,58,16,9.46
1,1,Hoi An,VN,2022-10-19 23:31:21,15.8794,108.3350,73.36,83,98,7.70
2,2,Klaksvik,FO,2022-10-19 23:31:22,62.2266,-6.5890,41.92,71,44,11.86
3,3,Saint-Philippe,RE,2022-10-19 23:31:22,-21.3585,55.7679,65.79,72,27,7.40
4,4,Beloha,MG,2022-10-19 23:31:23,-25.1667,45.0500,70.29,68,1,11.74
5,5,Ayni,TJ,2022-10-19 23:31:24,39.3941,68.5377,24.53,72,24,7.67
6,6,Aklavik,CA,2022-10-19 23:31:25,68.2191,-135.0107,26.60,93,100,8.05
7,7,Port Victoria,KE,2022-10-19 23:31:25,0.0939,33.9756,69.64,77,99,3.31
8,8,Hambantota,LK,2022-10-19 23:31:26,6.1241,81.1185,78.66,81,97,15.97
9,9,Souillac,MU,2022-10-19 23:31:26,-20.5167,57.5167,68.38,73,40,3.44

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig

In [12]:
# Heatmap of Temperature:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximiun temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                    dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heatmap_layer)
# Call the figure.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of % Humidity:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                    dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer and call the figure.
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of % Cloudiness:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                    dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer and call the figure.
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of Wind:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                    dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer and call the figure.
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Hambantota,LK,2022-10-19 23:31:26,6.1241,81.1185,78.66,81,97,15.97
18,18,Saint George,US,2022-10-19 23:29:23,37.1041,-113.5841,85.95,14,0,5.75
25,25,Ramon,PH,2022-10-19 23:31:32,16.7842,121.5350,75.79,93,100,4.29
34,34,Guanica,PR,2022-10-19 23:28:39,17.9716,-66.9080,82.98,84,5,7.36
35,35,Laguna De Perlas,NI,2022-10-19 23:31:36,12.3429,-83.6712,82.49,82,75,6.42
45,45,Kapaa,US,2022-10-19 23:31:38,22.0752,-159.3190,80.58,75,100,17.27
47,47,Hilo,US,2022-10-19 23:28:38,19.7297,-155.0900,88.29,73,0,10.36
48,48,Hithadhoo,MV,2022-10-19 23:32:40,-0.6000,73.0833,80.13,78,96,7.87
49,49,Bacolod,PH,2022-10-19 23:32:40,10.6667,122.9500,81.30,79,100,1.14
50,50,Bo Rai,TH,2022-10-19 23:32:40,12.5728,102.5371,79.74,89,99,4.99

In [19]:
# Check for null values.
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
8         Hambantota      LK     78.66   6.1241   81.1185
18      Saint George      US     85.95  37.1041 -113.5841
25             Ramon      PH     75.79  16.7842  121.5350
34           Guanica      PR     82.98  17.9716  -66.9080
35  Laguna De Perlas      NI     82.49  12.3429  -83.6712
45             Kapaa      US     80.58  22.0752 -159.3190
47              Hilo      US     88.29  19.7297 -155.0900
48         Hithadhoo      MV     80.13  -0.6000   73.0833
49           Bacolod      PH     81.30  10.6667  122.9500
50            Bo Rai      TH     79.74  12.5728  102.5371

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Hambantota,LK,78.66,6.1241,81.1185,Bungalow 63
18,Saint George,US,85.95,37.1041,-113.5841,Best Western Plus Abbey Inn
25,Ramon,PH,75.79,16.7842,121.5350,La Casa De Escudero
34,Guanica,PR,82.98,17.9716,-66.9080,Copamarina Beach Resort & Spa
35,Laguna De Perlas,NI,82.49,12.3429,-83.6712,Hotel Best View
45,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
47,Hilo,US,88.29,19.7297,-155.0900,Hilo Hawaiian Hotel
48,Hithadhoo,MV,80.13,-0.6000,73.0833,Scoop Guest House
49,Bacolod,PH,81.30,10.6667,122.9500,Planta Hotel & Residences
50,Bo Rai,TH,79.74,12.5728,102.5371,Baiboon Resort

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city with info boxes.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))