# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config2 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "..\Weather_Database\WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mareeba,AU,-17.0000,145.4333,81.45,83,77,7.61,light rain
1,1,Antofagasta,CL,-23.6500,-70.4000,58.28,75,8,4.63,clear sky
2,2,Port Keats,AU,-14.2500,129.5500,91.15,53,89,8.03,overcast clouds
3,3,Broome,US,42.2506,-75.8330,41.85,84,40,8.05,scattered clouds
4,4,Butaritari,KI,3.0707,172.7902,82.15,72,9,11.16,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mareeba,AU,-17.0000,145.4333,81.45,83,77,7.61,light rain
4,4,Butaritari,KI,3.0707,172.7902,82.15,72,9,11.16,clear sky
13,13,Bambous Virieux,MU,-20.3428,57.7575,78.22,61,40,10.36,scattered clouds
14,14,Hilo,US,19.7297,-155.0900,78.53,87,100,3.44,moderate rain
19,19,Quang Ngai,VN,15.1167,108.8000,81.12,72,62,6.69,broken clouds
20,20,Tautira,PF,-17.7333,-149.1500,77.16,80,18,11.92,few clouds
23,23,Balkanabat,TM,39.5108,54.3671,79.54,22,8,8.86,clear sky
25,25,Hambantota,LK,6.1241,81.1185,89.94,66,100,13.80,overcast clouds
46,46,Kavieng,PG,-2.5744,150.7967,84.72,69,71,8.25,broken clouds
47,47,Loa Janan,ID,-0.5830,117.0950,86.02,72,100,2.51,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mareeba,AU,-17.0000,145.4333,81.45,83,77,7.61,light rain
4,4,Butaritari,KI,3.0707,172.7902,82.15,72,9,11.16,clear sky
13,13,Bambous Virieux,MU,-20.3428,57.7575,78.22,61,40,10.36,scattered clouds
14,14,Hilo,US,19.7297,-155.0900,78.53,87,100,3.44,moderate rain
19,19,Quang Ngai,VN,15.1167,108.8000,81.12,72,62,6.69,broken clouds
20,20,Tautira,PF,-17.7333,-149.1500,77.16,80,18,11.92,few clouds
23,23,Balkanabat,TM,39.5108,54.3671,79.54,22,8,8.86,clear sky
25,25,Hambantota,LK,6.1241,81.1185,89.94,66,100,13.80,overcast clouds
46,46,Kavieng,PG,-2.5744,150.7967,84.72,69,71,8.25,broken clouds
47,47,Loa Janan,ID,-0.5830,117.0950,86.02,72,100,2.51,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
0           Mareeba      AU     81.45          light rain -17.0000  145.4333
4        Butaritari      KI     82.15           clear sky   3.0707  172.7902
13  Bambous Virieux      MU     78.22    scattered clouds -20.3428   57.7575
14             Hilo      US     78.53       moderate rain  19.7297 -155.0900
19       Quang Ngai      VN     81.12       broken clouds  15.1167  108.8000
20          Tautira      PF     77.16          few clouds -17.7333 -149.1500
23       Balkanabat      TM     79.54           clear sky  39.5108   54.3671
25       Hambantota      LK     89.94     overcast clouds   6.1241   81.1185
46          Kavieng      PG     84.72       broken clouds  -2.5744  150.7967
47        Loa Janan      ID     86.02     overcast clouds  -0.5830  117.0950

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mareeba,AU,81.45,light rain,-17.0000,145.4333,
4,Butaritari,KI,82.15,clear sky,3.0707,172.7902,
13,Bambous Virieux,MU,78.22,scattered clouds,-20.3428,57.7575,
14,Hilo,US,78.53,moderate rain,19.7297,-155.0900,
19,Quang Ngai,VN,81.12,broken clouds,15.1167,108.8000,
20,Tautira,PF,77.16,few clouds,-17.7333,-149.1500,
23,Balkanabat,TM,79.54,clear sky,39.5108,54.3671,
25,Hambantota,LK,89.94,overcast clouds,6.1241,81.1185,
46,Kavieng,PG,84.72,broken clouds,-2.5744,150.7967,
47,Loa Janan,ID,86.02,overcast clouds,-0.5830,117.0950,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mareeba,AU,81.45,light rain,-17.0000,145.4333,Trinity Plains Tourist Park
4,Butaritari,KI,82.15,clear sky,3.0707,172.7902,Isles Sunset Lodge
13,Bambous Virieux,MU,78.22,scattered clouds,-20.3428,57.7575,Casa Tia Villa
14,Hilo,US,78.53,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Quang Ngai,VN,81.12,broken clouds,15.1167,108.8000,Central Hotel
20,Tautira,PF,77.16,few clouds,-17.7333,-149.1500,Pension Oaoa
23,Balkanabat,TM,79.54,clear sky,39.5108,54.3671,Nebitchi Hotel
25,Hambantota,LK,89.94,overcast clouds,6.1241,81.1185,Bungalow 63
46,Kavieng,PG,84.72,broken clouds,-2.5744,150.7967,Nusa Island Retreat
47,Loa Janan,ID,86.02,overcast clouds,-0.5830,117.0950,Kost Garuda

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mareeba,AU,81.45,light rain,-17.0000,145.4333,Trinity Plains Tourist Park
4,Butaritari,KI,82.15,clear sky,3.0707,172.7902,Isles Sunset Lodge
13,Bambous Virieux,MU,78.22,scattered clouds,-20.3428,57.7575,Casa Tia Villa
14,Hilo,US,78.53,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Quang Ngai,VN,81.12,broken clouds,15.1167,108.8000,Central Hotel
20,Tautira,PF,77.16,few clouds,-17.7333,-149.1500,Pension Oaoa
23,Balkanabat,TM,79.54,clear sky,39.5108,54.3671,Nebitchi Hotel
25,Hambantota,LK,89.94,overcast clouds,6.1241,81.1185,Bungalow 63
46,Kavieng,PG,84.72,broken clouds,-2.5744,150.7967,Nusa Island Retreat
47,Loa Janan,ID,86.02,overcast clouds,-0.5830,117.0950,Kost Garuda

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [14]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [26]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [21]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [22]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Trinity Plains Tourist Park</dd>\n<dt>City</dt><dd>Mareeba</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>light rain and 81.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>moderate rain and 78.53 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Central Hotel</dd>\n<dt>City</dt><dd>Quang Ngai</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pension Oaoa</dd>\n<dt>City</dt><dd>Tautira</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nebitchi Hotel</dd>\n<dt>City</dt><dd>Balkanabat</dd>\n<dt>Country</dt><dd>TM</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bungalow 63</dd>\n<dt>City</dt><dd>Hambantota</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 89.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nusa Island Retreat</dd>\n<dt>City</dt><dd>Kavieng</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kost Garuda</dd>\n<dt>City</dt><dd>Loa Janan</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 86.02 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [23]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -17.0000  145.4333
4    3.0707  172.7902
13 -20.3428   57.7575
14  19.7297 -155.0900
19  15.1167  108.8000
20 -17.7333 -149.1500
23  39.5108   54.3671
25   6.1241   81.1185
46  -2.5744  150.7967
47  -0.5830  117.0950

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [25]:
# Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))